{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ url_for('index') }}" class="logo">
									<span class="symbol"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" /></span><span class="title">Eatsy</span>
								</a>
						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Who's Eating Today?</h1>
								<p>Select which of the following people are going out to eat together.</p>
							</header>

                            <form method=post>
                                {% for user in users %}
                                    <input type="checkbox" id="{{ users[user][0] }}" name="{{ user }}" value="{{ users[user][0] }}">
                                    <label for="{{ users[user][0] }}">{{ users[user][0] }}</label>
                                {%  endfor %}
                                {% if did_update %}
                                    <p style="color: red">{{ errorMessage }}</p>
                                {% endif %}

                                <section class="tiles" style="margin-top: 0">
                                    {% for user in users %}
                                        <article class="style{{ loop.index }}">
                                            <span class="image">
                                                <img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
                                            </span>
                                            <a>
                                                <h2>{{ users[user][0] }}</h2>
                                                <div class="content">
                                                    {% for attr in users[user][1] %}
                                                        <p class="progress">{{ attr }}</p>
                                                        {% if users[user][1][attr] == 0 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar0.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 1 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar1.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 2 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar2.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 3 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar3.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 4 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar4.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 5 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar5.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 6 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar6.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 7 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar7.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 8 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar8.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 9 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar9.png') }}" alt="" />
                                                        {% endif %}
                                                        {% if users[user][1][attr] == 10 %}
                                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar10.png') }}" alt="" />
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </a>
                                        </article>
                                    {%  endfor %}

                                </section>

                                <br>
                                <br>
                                <br>

                                <input type="submit" class="button fit" value="Find restaurants!">
{#                                <a href="{{ url_for('loading') }}" class="button fit">Find restaurants!</a>#}
                            </form>
						</div>
					</div>
			</div>
{% endblock %}