{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ url_for('index') }}" class="logo">
									<span class="symbol"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" /></span><span class="title">Eatsy</span>
								</a>
						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Who's Eating Today?</h1>
								<p>Select which of these people are going out to eat together.</p>
							</header>
                            <input type="checkbox" id="michael" name="michael" value="Michael">
                            <label for="michael">Michael</label>
                            <input type="checkbox" id="yong" name="yong" value="Yong">
                            <label for="yong">Yong</label>
                            <input type="checkbox" id="tim" name="tim" value="Tim">
                            <label for="tim">Tim</label>
                            <input type="checkbox" id="keziah" name="keziah" value="Keziah">
                            <label for="keziah">Keziah</label>
                            <input type="checkbox" id="eddy" name="eddy" value="Eddy">
                            <label for="eddy">Eddy</label>
                            <input type="checkbox" id="lillian" name="lillian" value="Lillian">
                            <label for="lillian">Lillian</label>
                            <a href="{{ url_for('loading') }}" class="button">Find restaurants!</a>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
									</span>
									<a>
										<h2>Michael</h2>
										<div class="content">
											<p class="progress">Low budget</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar5.png') }}" alt="" />
                                            <p class="progress">Taco Bell</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar10.png') }}" alt="" />
                                            <p class="progress">Quiet atmosphere</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar3.png') }}" alt="" />
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" />
									</span>
									<a>
										<h2>Yong</h2>
										<div class="content">
											<p class="progress">Low budget</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar5.png') }}" alt="" />
                                            <p class="progress">Taco Bell</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar10.png') }}" alt="" />
                                            <p class="progress">Quiet atmosphere</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar3.png') }}" alt="" />
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" />
									</span>
									<a>
										<h2>Tim</h2>
										<div class="content">
											<p class="progress">Low budget</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar5.png') }}" alt="" />
                                            <p class="progress">Taco Bell</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar10.png') }}" alt="" />
                                            <p class="progress">Quiet atmosphere</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar3.png') }}" alt="" />
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" />
									</span>
									<a>
										<h2>Eddy</h2>
										<div class="content">
											<p class="progress">Low budget</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar5.png') }}" alt="" />
                                            <p class="progress">Taco Bell</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar10.png') }}" alt="" />
                                            <p class="progress">Quiet atmosphere</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar3.png') }}" alt="" />
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" />
									</span>
									<a>
										<h2>Keziah</h2>
										<div class="content">
											<p class="progress">Low budget</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar5.png') }}" alt="" />
                                            <p class="progress">Taco Bell</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar10.png') }}" alt="" />
                                            <p class="progress">Quiet atmosphere</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar3.png') }}" alt="" />
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" />
									</span>
									<a>
										<h2>Lillian</h2>
										<div class="content">
											<p class="progress">Low budget</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar5.png') }}" alt="" />
                                            <p class="progress">Taco Bell</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar10.png') }}" alt="" />
                                            <p class="progress">Quiet atmosphere</p>
                                            <img class="progress" src="{{ url_for('static', filename='images/progressbar3.png') }}" alt="" />
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>
			</div>
{% endblock %}